.gridSize2{
    border: 0.1px solid black;
}

#container{
    display: flex;
    width: auto;
    height: auto;
}

.gridSize2{
    height: 20px;
    width: 20px;
}
.gridSize2:hover{
    background-color: black;
}