#container, .gridSize{
    border: 1px solid black;
}

#container{
    overflow: auto;
    display: inline-block;
    width: 700px;
    height: auto;
}

.gridSize{
    border-radius: 5px;
    display: inline-block;
    margin: 0.5px;
    width: 40px;
    height: 2em;
}

.gridSize:hover{
    background-color: black;
}